body {
  height: 100vh;
}

.container {
  width: 80%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

.first-testimonial {
  grid-column-start: 1;
  grid-column-end: 3;
}

.second-testimonial {
  grid-column-start: 3;
  grid-column-end: 4;
}

.third-testimonial {
  grid-column-start: 1;
  grid-column-end: 2;
}

.fourth-testimonial {
  grid-column-start: 2;
  grid-column-end: 4;
}

.fifth-testimonial {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.icon {
  left: 32rem;
}
